@charset "UTF-8";


body{
    background-color: rgb(197, 159, 254);
    min-width: 300px;
    height: auto;
    margin: 0;
}

main{
    min-width: 350px;
    max-width: 400px;
    width: 70%;
    max-height: 655px;
    margin: auto;
    
    
}

button{
    background-color: rgb(0, 0, 0);
    width:20%;
    height: 25%;
    border-radius: 10px;
    background: white;
    font-size: 25px;
    
}

.fundo{
    background-color: rgb(0, 0, 0);
    display: flex;
    height: 40vh;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    border-radius: 0px 0px  15px 15px;
    
}

.tela{
    text-align: end;
    border-radius: 15px 15px 0px 0px;
    width: 98.6%;
    font-size: 70px;
    height: 50vh;
    max-height: 315px;
    color:white ;
    background-color: aliceblue;
    background-image: url('img/tela.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}
 .grande{
    background: grey;
    color: white;
    width: 40%;
    font-size: 40px;
 }

button:hover {
    background-color: rgb(221, 221, 221);
}

.grande:hover{
    background-color: rgb(88, 88, 88);
}
#apagar {
    font-size: 21px;
}
#img {background-image: url('img/nagi.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;

}
